.App {
  text-align: center;
}

.App-header {
  background-color: #43e895;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  padding-top: 40px;
  font-family: Avenir;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
